{% extends "infra/infraBase.html" %}

{% block content %}
  <h4>Infrastructure stacks</h4>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm ">
      <thead class="table-light">
        <tr style="background-color: #b0d3d5; padding: 5px">
           <th scope="col">ID</th>
           <th scope="col">Name</th>
           <th scope="col">Stack Nodes</th>
           <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr style="transform: rotate(0);">
        {% for stack in stacks %}
        <tr>
          <th><a href="#">{{ stack.id }}</th>
          <td>{{ stack.stack_name }}</td>
          <td>{{ stack.nodes }}</td>
          <td><button onclick=location.href="{{ url_for('infra.stack_remove', stack_id=stack.id) }}" type="button" class="btn btn-success"><i class="fa fa-remove"></i> Remove</button></td>
        </tr>   
        {% endfor %}
      </tbody>

    </table>

    <button onclick=location.href="{{ url_for('infra.stack_add') }}" type="button" class="btn btn-success">
        <i class="fa fa-plus"></i> Add Infrastructure Stack
    </button>

  </div>
{% endblock content %}
