{% extends "infra/infraBase.html" %}

{% block content %}
  <h4>Nodes</h4>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm ">
      <thead class="table-light">
        <tr style="background-color: #b0d3d5; padding: 5px">
           <th scope="col">ID</th>
           <th scope="col">Host</th>
           <th scope="col">Node IP</th>
           <th scope="col">Availability</th>
           <th scope="col">Node Type</th>
           <th scope="col">Status</th>
           <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr style="transform: rotate(0);">
        {% for node in nodes %}
        <tr onclick="window.location='#';">
          <th scope="row"><a href="#" class="streched-link">{{ node['ID'][:12] }}</th>
          <td>{{ node['Hostname'] }}</td>
          <td>{{ node['IP Address'] }}</td>
          <td>{{ node['Availability'] }}</td>
          <td>{{ node['Node Type'] }}</td>
          <td>{{ node['State'] }}</td>
          <td><button onclick=location.href="{{ url_for('infra.node_remove', node_id=node['ID']) }}" type="button" class="btn btn-success"><i class="fa fa-remove"></i> Remove</button></td>
        {% endfor %}
      </tbody>

    </table>

    <button onclick=location.href="{{ url_for('infra.node_add') }}" type="button" class="btn btn-success">
       <i class="fa fa-plus"></i> Add Node
    </button>

  </div>
{% endblock content %}
