{% extends "services/servicesBase.html" %}

{% block content %}
  <h4>Agents</h4>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm ">
      <thead class="table-light">
        <tr style="background-color: #b0d3d5; padding: 5px">
           <th scope="col">UUID</th>
           <th scope="col">Agent Port</th>
           <th scope="col">Node</th> 
           <th scope="col">Agent Status</th>
           <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr style="transform: rotate(0);">
        {% for agent in agents %}
        <tr>
          <th><a href="#">{{ agent.uuid }}</th>
          <td>{{ agent.agent_port }}</td>
          <td>{{ agent.node }}</td>
          <td>{{ agent.status }}</td>
          <td><button onclick=location.href="{{ url_for('services.agent_remove', agent_id=agent.id) }}" type="button" class="btn btn-success"><i class="fa fa-remove"></i> Remove</button></td>
        </tr>   
        {% endfor %}
      </tbody>

    </table>

    <button onclick=location.href="{{ url_for('services.agent_add') }}" type="button" class="btn btn-success">
       <i class="fa fa-plus"></i> Add MTConnect Agent
    </button>
    <button onclick=location.href="{{ url_for('services.agent_load_stack') }}" type="button" class="btn btn-success">
      <i class="fa fa-plus"></i> Load MTConnect Agents Stack
   </button>

  </div>
{% endblock content %}
