<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - DataFabric</title>
      {% else %}
      <title>Welcome to DataFabric</title>
      {% endif %}
    </head>
    <body>
        <div>
           DataFabric:
           <a href="{{ url_for('main.index') }}">Home</a>
        </div>
        <hr>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}

          {% block content %}
          {% endblock %}
        </hr>
    </body>
</html>
