<!-- RQ Tasks in progress -->
{% if current_user.is_authenticated %}
  {% with tasks = current_user.get_RQ_tasks_in_progress() %}
    {% if tasks %}
      <span id="user_rq_tasks">
      {% for task in tasks %}
        <div class="alert alert-info">
           {{ task.description }}
        </div>
      {% endfor %}
      </span>
    {% endif %}
  {% endwith %}
{% endif %}

<!-- User notifications -->
{% if current_user.is_authenticated %}
  {% with notifications = current_user.get_notifications() %}
    {% if notifications %}
      <span id="user_notifications">
      {% for notification in notifications %}
        <div class="alert alert-{{ notification.type }} alert-dismissible">
           {{ notification.message }} <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      {% endfor %}
      </span>
    {% endif %}
  {% endwith %}
{% endif %}

<!-- Flash messages -->
{% with msg = get_flashed_messages(with_categories=True) %}
    {% if msg %}
        {% for category, message in msg %}
            <div class="alert alert-{{ category }} alert-dismissible">
              <strong>{{ message }}</strong>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}