{% extends "services/servicesBase.html" %}

{% block content %}
<!-- Services -->
<div style="height: 25%; display: flex; flex-direction: column; overflow-y: auto;">

    <h4>Services of {{ title }}</h4>

    <!-- Table with services from an OpenFactory device -->
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm ">
            <thead class="table-light">
                <tr style="background-color: #b0d3d5; padding: 5px">
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr style="transform: rotate(0);">
                    {% for service in services %}
                <tr>
                    <th><a href="{{ url_for('services.service_tasks', service_name=service.name) }}">{{ service.name
                            }}</a></th>
                    <td>{{ service.status }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

<!-- Data -->
<h4>Data of {{ title }}</h4>
<div style="height: 75%; display: flex; flex-direction: row; overflow-y: hidden">

    <!-- Samples -->
    <div style="flex: 1; border: 1px solid #ddd; padding: 10px; overflow-y: auto">
        <h5>Samples</h5>
        <table class="table table-striped table-hover table-sm ">
            <thead class="table-light">
                <tr style="background-color: #b0d3d5; padding: 5px">
                    <th>ID</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>
                {% for id, value in data.Samples.items() %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Events -->
    <div style="flex: 1; border: 1px solid #ddd; padding: 10px; overflow-y: auto">
        <h5>Events</h5>
        <table class="table table-striped table-hover table-sm ">
            <thead class="table-light">
                <tr style="background-color: #b0d3d5; padding: 5px">
                    <th>ID</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>
                {% for id, value in data.Events.items() %}
                <tr>
                    <td>{{ id }}</td>
                    <td style="
                        {% if id|lower == 'avail' %}
                            background-color: 
                            {% if value|lower == 'available' %}
                                LimeGreen;
                            {% elif value|lower == 'unavailable' %}
                                OrangeRed;
                            {% else %}
                                inherit;
                            {% endif %}
                        {% endif %}
                    ">
                        {{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Conditions -->
    <div style="flex: 1; border: 1px solid #ddd; padding: 10px; overflow-y: auto">
        <h5>Conditions</h5>
        <table class="table table-striped table-hover table-sm ">
            <thead class="table-light">
                <tr style="background-color: #b0d3d5; padding: 5px">
                    <th>ID</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>
                {% for condition in data.Conditions %}
                <tr>
                    <td>{{ condition.ID }}</td>
                    <td style="
                    {% if condition.TAG|lower == 'fault' %}
                        background-color: OrangeRed;
                    {% elif condition.TAG|lower == 'warning' %}
                        background-color: gold;
                    {% elif condition.TAG|lower == 'normal' %}
                        background-color: LimeGreen;
                    {% else %}
                        background-color: inherit;
                    {% endif %}
                ">
                    {{ condition.VALUE }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}