<!-- Display services of an OpenFactory device -->

{% extends "services/servicesBase.html" %}

{% block content %}
<!-- Services -->
<div style="height: 25%; display: flex; flex-direction: column; overflow-y: auto;">

    <h4>Services of {{ title }}</h4>

    <!-- Table with services from an OpenFactory device -->
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm ">
            <thead class="table-light">
                <tr style="background-color: #b0d3d5; padding: 5px">
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr style="transform: rotate(0);">
                    {% for service in services %}
                <tr>
                    <th><a href="{{ url_for('services.service_tasks', service_name=service.name) }}">{{ service.name
                            }}</a></th>
                    <td>{{ service.status }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

<h4>Data of {{ title }}</h4>
<div style="height: 75%; display: flex; flex-direction: row; overflow-y: hidden">

    {% include "services/generic/data.html" %}

</div>
{% endblock content %}