{% extends "services/servicesBase.html" %}

{% block content %}
  <h4>Devices</h4>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm ">
      <thead class="table-light">
        <tr style="background-color: #b0d3d5; padding: 5px">
           <th scope="col">UUID</th>
           <th scope="col">Availability</th>
           <th scope="col">Agent</th>
           <th scope="col">Producer</th>
           <th scope="col">Supervisor</th>
           <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr style="transform: rotate(0);">
        {% for device in devices %}
        <tr>
          <th><a href="{{ url_for('services.device_services_list', device_uuid=device.asset_uuid) }}">{{ device.asset_uuid }}</th>
            <td style="background-color: {{ device.avail.value | availability_color }};">
              {{ device.avail.value }}
            </td>
            <td style="background-color: {{ device.agent_avail.value | availability_color }};">
              {{ device.agent_avail.value }}
            </td>
            <td style="background-color: {{ device.producer_avail.value | availability_color }};">
              {{ device.producer_avail.value }}
            </td>
            <td style="background-color: {{ device.supervisor_avail.value | availability_color }};">
              {{ device.supervisor_avail.value }}
            </td>
          <td><button onclick=location.href="{{ url_for('services.device_remove', agent_id=1) }}" type="button" class="btn btn-success"><i class="fa fa-remove"></i> Remove</button></td>
        </tr>   
        {% endfor %}
      </tbody>

    </table>

    <button onclick=location.href="{{ url_for('services.device_add') }}" type="button" class="btn btn-success">
       <i class="fa fa-plus"></i> Add OpenFactory Device
    </button>
    <button onclick=location.href="{{ url_for('services.device_load_stack') }}" type="button" class="btn btn-success">
      <i class="fa fa-plus"></i> Load OpenFactory Devices Stack
   </button>

  </div>
{% endblock content %}
